{% extends 'layout.html' %}
{% block content %}
<div class="col-xl-7 col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">버튼 조작해 주세영</h6>
        </div>

        <div class="card-body">
            <form method="POST">
            <button class="btn btn-success btn-icon-split btn-lg" name="control" value="1"
                style="width: 20em; height: 20em; margin-right: 2em; text-align: center; align-items:center;">
                <i class="fas fa-check"></i>
                <span class="text">EM용액 뿌리기</span>
            </button>
            <button class="btn btn-danger btn-icon-split btn-lg" name="control" value="0"
                style="width: 20em; height: 20em; text-align: center; align-items:center;">
                <i class="fas fa-exclamation-triangle"></i>
                <span class="text">EM용액 뿌리기 중단</span>
            </button>
            <div class="my-2"></div>
            <a href="/map1" class="btn btn-success btn-icon-split btn-lg">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">돌아가기</span>
            </a>
            </form>
        </div>
    </div>

</div>
{% endblock %}