{% extends 'layout.html' %}

{% block content %}
<form action="/auth/join" method="POST" style="margin-left: 30em; margin-right: 30em; margin-top: 10em;">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Nickname</label>
      <input type="text" name="nickname" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    <button type="submit" name="password" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

{% block script %}
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
            alert('이미 존재하는 이메일입니다.');
        }
    };
</script>
{% endblock %}