{% extends 'layout.html' %}
{% block content %}
<!-- 프로그레스 바 -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- 프로그레스 스크립트/CSS -->
<script type="text/javascript" src="progress.js"></script>
<script type="text/javascript" src="../progressbar/loading-bar.js"></script>
<link rel="stylesheet" type="text/css" href="../progressbar/loading-bar.css">
<style>
    .ldBar-label {
        color: rgb(0, 0, 0);
        font-family: 'varela round';
        font-size: 2.5em;
        font-weight: 900;
      }
      .ldBar-label:after {
        content: "KG"; /* change from % to USD */
        font-size: 0.6em;
      }
</style>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-white-800">중부리 1축사</h1>
        <a href="#" class="btn btn-success btn-icon-split btn-lg" onclick="calculate()">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">노티테스트</span>
        </a>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-5 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">1축사 카메라</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div id="stream-container" class="image-container">
                            <!-- <img id="stream" src="http://192.168.0.12:81/stream"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-5 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">1축사 평면도</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <div id="map" style="width:100%;height:100%;"></div>
                        <script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e26c880401f6ef89fc83f9fc0ac7e7ee"></script>
                        <script>
                            var plan = function (x, y, z) {
                                y = -y - 1;
                                var limit = Math.ceil(3 / Math.pow(2, z));

                                if (0 <= y && y < limit && 0 <= x && x < limit) {
                                    return 'img/usa.jpg';
                                } else {
                                    return 'https://i1.daumcdn.net/dmaps/apis/white.png';
                                }
                            };

                            kakao.maps.Tileset.add('PLAN',
                                new kakao.maps.Tileset(
                                    512, 256, plan, '', false, 0, 2));

                            var node = document.getElementById('map');
                            var map = new kakao.maps.Map(node, {
                                projectionId: null,
                                mapTypeId: kakao.maps.MapTypeId.PLAN,
                                $scale: false,
                                center: new kakao.maps.Coords(1040, -500),
                                level: 4
                            });
                            map.setZoomable(false);
                            map.setDraggable(false);
                            var center = map.getCenter();
                            var marker = new kakao.maps.Marker({
                                position: center
                            });
                            //marker.setMap(map);
                        </script>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-5 col-lg-7">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">제어부</h6>
                </div>
                <div class="card-body">
                    <a href="/info/control" class="btn btn-success btn-icon-split btn-lg" onclick="calculate()">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">제어하러가기</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=em%EC%9A%A9%EC%95%A1"
                            target="_blank" class="btn btn-primary btn-icon-split btn-lg">
                            <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span class="text">EM용액 주문하기</span>
                        </a>
                    <div style="align-items: center;">
                        {% if (weight >= 0) and (weight < 5) %}
                        <div class="ldBar label-center" data-max="20" data-value="2.5" 
                            data-preset="bubble" data-pattern-size="64" style="width: 200px; height: 200px;">
                        </div>
                        {% elif (weight >= 5) and (weight < 10) %}
                        <div class="ldBar label-center" data-max="20" data-value="7.8" 
                            data-preset="bubble" data-pattern-size="64" style="width: 200px; height: 200px;">
                        </div>
                        {% elif (weight >= 10) and (weight < 15) %}
                        <div class="ldBar label-center" data-max="20" data-value="12.6" 
                            data-preset="bubble" data-pattern-size="64" style="width: 200px; height: 200px;">
                        </div>
                        {% elif (weight >= 15) %}
                        <div class="ldBar label-center" data-max="20" data-value="18" 
                            data-preset="bubble" data-pattern-size="64" style="width: 200px; height: 200px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-5 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">대기중 가스농도</h6>
                </div>
                <!-- Card Body -->
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        <!-- Content Column -->
        <div class="col-lg-5 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">대기중 유해가스 농도</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">암모니아<span class="float-right">{{ ppm }}ppm</span></h4>
                    <div id="ppmProgress" class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;"
                            aria-valuenow="{{ ppm }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">메탄가스<span class="float-right">{{ Mppm }}Mppm</span></h4>
                    <div id="MppmProgress" class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                            aria-valuenow="{{ Mpp }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">황<span class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- 차트 스크립트 -->
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
     var chart = new CanvasJS.Chart("chartContainer", {
         animationEnabled: true,
         axisX: {
            labelFontColor: '#858796',
         },
         axisY: {
             includeZero: false,
             labelFontColor: '#858796'
         },
         toolTip: {
             shared: true
         },
         backgroundColor: "#2F3840",
         legend: {
             fontSize: 13,
             fontColor: '#858796',
             fontFamily: "Nunito"
         },
         data: [{
             type: "splineArea",
             showInLegend: true,
             name: "ppm",
             yValueFormatString: "#.##ppm",
             xValueFormatString: "MMM YYYY",
             dataPoints: [
                { x: new Date(2019, 12), y: 100.56 },
                { x: new Date(2020, 1), y: 110.45 },
                { x: new Date(2020, 2), y: 186.45 },
                { x: new Date(2020, 3), y: 145.12 },
                { x: new Date(2020, 4), y: 178.45 },
                { x: new Date(2020, 5), y: 132.15 },
                { x: new Date(2020, 6), y: 187.25 },
                { x: new Date(2020, 7), y: 164.45 },
                { x: new Date(2020, 8), y: 182.45 },
                { x: new Date(2020, 9), y: 146.52 },
                { x: new Date(2020, 10), y: 142.52 },
                { x: new Date(2020, 11), y: 137.52 }
             ]
          },
         {
             type: "splineArea", 
             showInLegend: true,
             name: "Mppm",
             yValueFormatString: "#.##Mppm",
             dataPoints: [
                { x: new Date(2019, 12), y: 30.56 },
                { x: new Date(2020, 1), y: 28.64 },
                { x: new Date(2020, 2), y: 78.68 },
                { x: new Date(2020, 3), y: 89.48 },
                { x: new Date(2020, 4), y: 45.13 },
                { x: new Date(2020, 5), y: 10.56 },
                { x: new Date(2020, 6), y: 78.12 },
                { x: new Date(2020, 7), y: 46.23 },
                { x: new Date(2020, 8), y: 41.23 },
                { x: new Date(2020, 9), y: 78.88 },
                { x: new Date(2020, 10), y: 46.52 },
                { x: new Date(2020, 11),  y: 45.87 }
          ]
          }]
     });
     chart.render();
</script>

<!-- 노티 스크립트 -->
<script type="text/javascript">
    window.onload = function () {
        if (window.Notification) {
            Notification.requestPermission();
        }
    }
    function calculate() {
        setTimeout(function () {
            notify();
        }, 500);
    }

    function notify() {
        if (Notification.permission !== 'granted') {
            alert('notification is disabled');
        } else {
            var notification = new Notification('축사에서 악취가 나요!!', {
                icon: '/img/farm.png',
                body: '1번축사에서 악취가 납니다',
            });

            notification.onclick = function () {
                window.open('http://192.168.0.8:3000/map1');
            };
        }
    }
    function ppm() {
        sensor.ppm.toString();
    }
</script>

<!-- 프로그레스 스크립트 -->
<script>
    var bar = new ldBar(".ldBar", {});
</script>
{% endblock %}