.btn-kakao {
    color: #fff;
    background-color: #ffcd36;
}

.btn-kakao:hover {
    color: #fff;
    background-color: #ffbf00;
}

.btn-kakao.focus,
.btn-kakao:focus {
    color: #fff;
    background-color: #fcc626;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-kakao.disabled,
.btn-kakao:disabled {
    color: #fff;
    background-color: #ffcd36;
    border-color: #fff
}

.btn-kakao:not(:disabled):not(.disabled).active,
.btn-kakao:not(:disabled):not(.disabled):active,
.show>.btn-kakao.dropdown-toggle {
    color: #fff;
    background-color: #fcc626;
    border-color: #dfdfdf
}

.btn-kakao:not(:disabled):not(.disabled).active:focus,
.btn-kakao:not(:disabled):not(.disabled):active:focus,
.show>.btn-.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}